:root {
  --red: #C70202;
  --bg-primary: #3E3E3E;
  --bg-primary-light: #6a6a6a;
  --bg-secondary: #1F1F1F;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: white;
  background: var(--bg-primary);
  line-height: 1.6;
  font-family: 'Figtree', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: clamp(1rem, .8rem + .4vw, 1.2rem);
  line-height: 160%;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-finder tracking-wide;
}

h1 {
  font-size: clamp(1.5rem, 0.4rem + 2.2vw, 3rem) !important;;
}

h2 {
  font-size: clamp(1.3rem, 0.4rem + 2vw, 2.3rem) !important;
}

h3 {
  font-size: clamp(1.1rem, 0.3rem + 1.7vw, 2.1rem) !important;
}

h4 {
  font-size: clamp(1rem, 0.2rem + 1.5vw, 1.7rem) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  caret-color: white;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0 1000px var(--bg-primary-light) inset;
  box-shadow: 0 0 0 1000px var(--bg-primary-light) inset;
}